<apex:page StandardController="Lead" extensions="AddLee_BankCapture_Controller" sidebar="false">
  <apex:form >
  <apex:pageMessages />
      <apex:pageBlock title="Capture Bank Details">
          <apex:pageBlockSection columns="2">
                Enter Bank Account Details necessary to setup Direct Debit.   
          </apex:pageBlockSection>
          <apex:pageBlockButtons location="bottom" >
              <apex:commandButton value="Validate Bank Account" action="{!validate}" />
          </apex:pageBlockButtons>
          <apex:pageBlockSection columns="2">
              <apex:inputField value="{!leadrecord.Bank_Account_Name__c}" required="true"/>
              <apex:inputField value="{!leadRecord.Bank_Account_Number__c}" required="true"/>
              <apex:inputField value="{!leadRecord.Bank_Sort_Code__c}" required="true"/>
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
</apex:page>