<apex:page standardController="Case" extensions="AddLee_CaseBrowserExtension" docType="html-5.0" showHeader="false" showChat="false" sidebar="false">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<style>
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
</style>
<apex:includeScript value="{!URLFOR($Resource.jQuery, 'jquery.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQueryui, 'jquery-ui.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.dateTimePicker, 'dateTimePicker.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.modernizr, 'modernizr.js')}"  />
    <script>
         j$ = jQuery.noConflict();

         function enableDisable(cb){
          //j$("input:checkbox[id*=looped]").removeAttr('checked');
          //j$(cb).attr('checked', 'checked');
          j$("input:checkbox[id*=looped]").not(j$(cb)).prop("checked",false);
          j$(cb).prop("checked", j$(cb).prop("checked")); 
         }

         j$(function() {
            if(!Modernizr.inputtypes.date){
                //j$( 'input[id$=birthdate]' ).datepicker(j$.datepicker.regional[ 'English'] );
                //j$( 'input[id$=birthdate]' ).datepicker({ changeMonth: true,changeYear: true });
                j$( 'input[id$=birthdate]' ).datetimepicker({ changeMonth: true,changeYear: true });
                j$( 'input[id$=birthdate]' ).datepicker( "option", "dateFormat", 'dd/mm/yy' );
            }
         });

         window.onunload = refreshParent;
         function refreshParent() {
            window.opener.location.reload();
         }

    //j$.datepicker.regional[ 'English'] ;
 
    </script>
    <apex:form >

        <apex:pageBlock mode="mainDetail">
            <apex:pageBlockButtons >
                <apex:commandButton value="Search Shamrock" reRender="results" action="{!search}" status="waitingStatus"/>
                <apex:commandButton value="Close" onclick="window.top.close();"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!case.Account_Number__c}" /> 
                <apex:inputField value="{!case.Invoice_Number__c}"/>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Date From"/>
                    <apex:input title="Date From" value="{!dateFrom}" type="datetime-local" id="birthdate"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Date To"/>
                    <apex:input title="Date To" value="{!dateTo}" type="datetime-local" id="birthdate"/>
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!case.Job_Number__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>

        <apex:outputPanel id="results" >
            <apex:pageMessages />
            <apex:pageBlock rendered="{!renderResults}" id="thePageBlock" mode="mainDetail">
                <apex:pageBlockButtons >
                    <apex:commandButton value="Get Details" action="{!getDetails}" reRender="results,details" status="waitingStatus"/>
                </apex:pageBlockButtons>
                <apex:pageBlockTable value="{!JobResponses}" var="item">
                    <apex:column >
                        <apex:inputCheckbox value="{!item.isSelected}" id="looped" onclick="enableDisable(this)"/> 
                    </apex:column>
                    <apex:column headerValue="Account Number"  value="{!item.accountNumber}" />
                    <apex:column headerValue="Pickup Address" value="{!item.pickupAddress}" />
                    <apex:column headerValue="Drop off Address" value="{!item.dropOffAddress}" />
                    <apex:column headerValue="Date of Booking" value="{!item.dateTimeOfBooking}" />
                    <apex:column headerValue="Service Type" value="{!item.serviceType}" />
                    <apex:column headerValue="Id" value="{!item.Id}" />
                </apex:pageBlockTable>
            </apex:pageBlock>
            <apex:outputText rendered="{!renderNullResults}">
                No Matching Results
            </apex:outputText>
        </apex:outputPanel>
        <apex:outputPanel id="details" >
            <apex:pageBlock rendered="{!renderJobDetail}" mode="mainDetail">
                <apex:tabPanel switchType="client" selectedTab="name2" id="theTabPanel" tabClass="activeTab" inactiveTabClass="inactiveTab">
                    <apex:tab label="Job Browser" id="tabOne" >
                        <apex:pageBlockSection columns="2" title="Job Details">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Account Number"/>
                                <apex:outputText value="{!jobDetailRecord.accountNumber}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Invoice Number"/>
                                <apex:outputText value="{!jobDetailRecord.invoiceNumber}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Pickup Address"/>
                                <apex:outputText value="{!jobDetailRecord.pickupStop}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Drop Off Address"/>
                                <apex:outputText value="{!jobDetailRecord.dropStop}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Service Code"/>
                                <apex:outputText value="{!jobDetailRecord.serviceCode}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Job Number"/>
                                <apex:outputText value="{!jobDetailRecord.number_x}" />
                            </apex:pageBlockSectionItem>  
                            <apex:pageBlockSectionItem >
                                <apex:commandButton value="Update Case" reRender="details" action="{!updateCase}" status="waitingStatus"/>
                            </apex:pageBlockSectionItem> 
                        </apex:pageBlockSection>
                        <apex:pageBlockSection columns="2" title="Client Price">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Extras"/>
                                <apex:outputText value="{!jobDetailRecord.clientPrice.Extras}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Journey Price"/>
                                <apex:outputText value="{!jobDetailRecord.clientPrice.journeyPrice}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Total"/>
                                <apex:outputText value="{!jobDetailRecord.clientPrice.total}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="vat"/>
                                <apex:outputText value="{!jobDetailRecord.clientPrice.vat}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Waiting Time"/>
                                <apex:outputText value="{!jobDetailRecord.clientPrice.waitingTime}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Waiting Time Price"/>
                                <apex:outputText value="{!jobDetailRecord.clientPrice.waitingTimePrice}" />
                            </apex:pageBlockSectionItem>    
                        </apex:pageBlockSection>
                        <apex:pageBlockSection columns="2" title="Client Details">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Extras"/>
                                <apex:outputText value="{!jobDetailRecord.contact.email}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Journey Price"/>
                                <apex:outputText value="{!jobDetailRecord.contact.name}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Total"/>
                                <apex:outputText value="{!jobDetailRecord.contact.telephone}" /> 
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Delay"/>
                                <apex:outputText value="{!jobDetailRecord.delay}" /> 
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection columns="1" title="Passengers">
                            <apex:pageBlockTable value="{!jobDetailRecord.jobActors}" var="item" title="String" columnsWidth="40%,40%,30%">
                                <apex:column value="{!item.name}" headerValue="Name" />
                                <apex:column value="{!item.email}" headerValue="Email" />
                                <apex:column value="{!item.telephone}" headerValue="Telephone" />
                            </apex:pageBlockTable>
                        </apex:pageBlockSection>
                    </apex:tab>
                    <apex:tab label="Driver Browser" id="tabTwo">
                        <apex:pageBlockSection columns="2" title="Driver Price">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Extras"/>
                                <apex:outputText value="{!jobDetailRecord.driverPrice.Extras}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Journey Price"/>
                                <apex:outputText value="{!jobDetailRecord.driverPrice.journeyPrice}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Total"/>
                                <apex:outputText value="{!jobDetailRecord.driverPrice.total}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Vat"/>
                                <apex:outputText value="{!jobDetailRecord.driverPrice.vat}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Waiting Time"/>
                                <apex:outputText value="{!jobDetailRecord.driverPrice.waitingTime}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Waiting Time Price"/>
                                <apex:outputText value="{!jobDetailRecord.driverPrice.waitingTimePrice}" />
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection columns="2" title="Driver Info">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Address"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.address}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="CallSign"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.callsign}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Name"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.name}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="number_x"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.number_x}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Phone"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.telephone}" />
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection columns="2" title="Vehicle Details">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Vehicle Colour"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.vehicle.colour}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Vehicle name"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.vehicle.name}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Vehicle radioNumber"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.vehicle.radioNumber}" />
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Vehicle regNumber"/>
                                <apex:outputText value="{!jobDetailRecord.driverInfo.vehicle.regNumber}" />
                            </apex:pageBlockSectionItem>

                        </apex:pageBlockSection>
                    </apex:tab>
                </apex:tabPanel>
                
            </apex:pageBlock>
            <apex:outputText rendered="{!renderNullResults}">
                No Matching Results
            </apex:outputText>
        </apex:outputPanel>
        <apex:outputpanel >
        <apex:actionstatus id="waitingStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                       height: 100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="top: 30px; width: 30px;">
                        <img class="waitingImage" src="{!URLFOR($Resource.images,
                  'images/loading.gif')}" title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
    </apex:outputpanel>
    </apex:form>

</apex:page>