<apex:page showHeader="false" title="{!$Label.site.file_not_found}" cache="false">
  <apex:composition template="StdExceptionTemplate">

    <apex:define name="icon">
      
      <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/warning.png')}"/>
    </apex:define>
                
    <apex:define name="error">
      <apex:outputText escape="false" value="<h2>Sorry - something has gone wrong</h2>">
      <apex:param value="{!$Site.ErrorMessage}"/>
      <!-- this parameter needs to be italic in the site.error label -->
      </apex:outputText>
      <br/>
      <br/>
      <apex:outputText escape="false" value="<p>Your acceptance of our Ts&Cs hasn’t been submitted. Your Sales contact will be able to help you complete this process.</p><p>Please call 020 7255 4229 or email 
      sales@addisonlee.com for support.</p>">
      <apex:param value="mailto:{!$Site.AdminEmailAddress}"/>
      <apex:param value="{!$Label.site.email_us}"/>
      </apex:outputText>
    </apex:define> 
  </apex:composition>
</apex:page>