<apex:page StandardController="Lead" standardStylesheets="false" showHeader="false">
  <apex:form >
  <apex:pageBlock >
   <apex:pageblockButtons location="Top" >
     <apex:commandButton value="Add Competitor Details " onclick="window.open('/apex/LeadCompetitor?id='+'{!Lead.Id}','_blank','height=600,location=no,resizable=yes,toolbar=no,status=no,menubar=no,scrollbars=1', 1)"  />
   </apex:pageblockButtons>
    
  </apex:pageBlock>
  </apex:form>
</apex:page>