<apex:component >
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
	<apex:includeScript value="{!URLFOR($Resource.jQuery, 'jquery.min.js')}"  />
	<apex:includeScript value="{!URLFOR($Resource.jQueryui, 'jquery-ui.min.js')}"  />
	<apex:includeScript value="{!URLFOR($Resource.modernizr, 'modernizr.js')}"  />
	<style>
		.ui-autocomplete {
			max-height: 150px;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.ui-autocomplete-loading {
			background: white url("/img/loading32.gif") right center no-repeat;
		}
		#relatedLeadsTable > tbody > tr:hover {
			cursor: pointer;
		}
		.vertical {
			transform: translateY(-25%);
		}
		.layer1 {
			z-index: 1;
		}
		.modalSheet {
			z-index: 2;
			position: absolute !important;
		}
		.layer2 {
			z-index: 3;
			background: white;
			box-shadow: -10px 0 18px -4px #888888, -12px 14px 18px -4px #888888;
			position: absolute !important;
		}
	</style>
	<script type="text/javascript">
		$(function() {
			console.log($('html'));
			$addLeepage = $( '#addLee-page' );
			$searchForm = $( '#searchForm' );
			$searchCorporates = $( '#searchCorporates' );
	    	$businessName = $( '#businessName' );
	    	$postCode = $( '#postCode' );
	    	$townName = $( '#townName' );
	    	$selAccName = $( '#selAccName' );
	    	$selAccShAddr = $( '#selAccShAddr' );
	    	$detailView = $( '#detailView' );
	    	$detailIcon = $( '#detailIcon' );
	    	$detailTitle = $( '#detailTitle' );
	    	$detailLeadCompany = $( '#detailLeadCompany' );
	    	$selCmpName = $( '#selCmpName' );
	    	$dunsNumber = $( '#dunsNumber' );
	    	$daysSinceLastCCGRP = $( '#daysSinceLastCCGRP' );
	    	$daysSinceLastCC = $( '#daysSinceLastCC' );
	    	$warnCustomer = $('#warnCustomer');
	    	$detailWarn = $( '#detailWarn' );
	    	$detailOption1 = $( '#detailOption1' );
	    	$detailOption2 = $( '#detailOption2' );
	    	$detailOption3 = $( '#detailOption3' );
	    	$detailOption4 = $( '#detailOption4' );
	    	$mgrLabel = $( '#mgrLabel' );
			$ownerLabel = $( '#ownerLabel' );
	    	$selAccMgr = $( '#selAccMgr' );
	    	$selAccOwnr = $( '#selAccOwnr' );
	    	//$tableSection = $( '#relatedLeadsTableSection' );
	    	//$tableLeads = $( '#relatedLeadsTable' );
	    	//$tableBody = $tableLeads.find( 'tbody' );
		    var continueURLAction = '';
		    var credCheckURL = '';
		    var leadDetail = {leadId:"", name:"", postCode:"", town:""};
		    var accDetail = {accId:"", accName:"", recordTypeId:""};
		    $searchCorporates.add($detailOption1).click(function( event ) {
				redirect($businessName.val(),$postCode.val(),$townName.val());
			});
			$businessName.on('keypress', function(args) {
			    if (args.keyCode == 13) {
			        redirect($businessName.val(),$postCode.val(),$townName.val());
			        return false;
			    }
			});
			$detailOption2.click(function( event ) {
				if (continueURLAction == "credCheck") {
					$warnCustomer.dialog({
				      resizable: true,
				      width:420,
				      height:200,
				      modal: true,
				      buttons: {
				        "Continue to Credit Check": function() {
				          window.top.location.href = credCheckURL;
				        },
				        Cancel: function() {
				          $( this ).dialog( "close" );
				        }
				      }
				    });	
				} else if (continueURLAction == "sfEdit") {
					window.top.location.href = credCheckURL;
				} else if (continueURLAction == "lookup") {
					redirectWithLead(leadDetail.name,leadDetail.postCode,leadDetail.town,leadDetail.leadId);
				} else {
					//Do Nothing
				}
			});
			$detailOption4.click(function( event ) {
				window.top.location.href = "/001/e?&retURL=" + encodeURIComponent('apex/AccountCreation_CreateCA') + "&RecordType="+ accDetail.recordTypeId +"&ent=Account&acc2="+ accDetail.accName +" - Sub&00Nb0000009FOgz=Sub";
			});
			
			/*$( "#relatedLeadsTable tbody" ).on( "click", "tr", function() {
				console.log($(this));
			});*/
			
			function createModal(){
				$( '<div id="modalSearch" class="modalSheet"></div>' )
					.css({
						'height': $searchForm.height(),
						'width': $searchForm.width()
					})
					.appendTo( $addLeepage );
			}
			
			function redrawDetailView(content){
				if( $detailView.is(":visible") ) {
					$detailView.hide();
				}
				createModal();
				if( $detailView.height() < $searchForm.height() )
					$detailView.height($searchForm.height());
				//$detailView.height($searchForm.height());
				$selAccName.text( content.label );
	    		$selAccShAddr.text( ( typeof content.desc !== 'undefined' ) ? content.desc : 'No address information' );
				if(content.type == 'account'){
					accDetail.accId = content.id;
					accDetail.accName = content.label;
					accDetail.recordTypeId = content.recordTypeId;
					$detailIcon.attr('src','/img/icon/accounts32.png');
					$detailTitle.text(' You selected an Existing Account');
					$mgrLabel.show();
					$selAccMgr.show();
					$mgrLabel.text( 'Account Manager' );
					$ownerLabel.text( 'Account Owner' );
					$selAccMgr.text( ( typeof content.mgrName !== 'undefined' ) ? content.mgrName : 'No manager Assigned' );
					$selAccOwnr.text( content.ownrName );
					$detailWarn.html( 'This Account is already present in Salesforce.<br/>What would you like to do?' );//<br/>P.S. For Sub Account creation, please click on the Account Tab
					$detailLeadCompany.hide();
					$daysSinceLastCCGRP.hide();
					$detailOption2.hide();
					$detailOption4.attr( 'sfAccId', content.id );
					$detailOption4.attr( 'sfAccName', content.label );
					$detailOption1.hide();
					$detailOption4.show();
					//redrawLeadTable(content);
				}
				if(content.type == 'lead'){
					if( typeof content.duns !== 'undefined' ){
						if( typeof content.daysSinceCC === 'undefined' || content.daysSinceCC > 21){
							continueURLAction = "credCheck";
							credCheckURL = "apex/DAndBSearch?dunsReference=" + content.duns + '&leadId=' + content.id;
						} else {
							continueURLAction = "sfEdit";
							credCheckURL = "apex/DAndBSearch?dunsReference=" + content.duns + "&checkCredit=false" + '&leadId=' + content.id;
						}
					} else {
						console.log(content.company);
						console.log(content.id);
						console.log(content.postCode);
						console.log(content.town);
						console.log(leadDetail);
						leadDetail.name = content.company;
						leadDetail.leadId = content.id;
						leadDetail.postCode = typeof content.postCode !== 'undefined' ? content.postCode : '';
						leadDetail.town = typeof content.town !== 'undefined' ? content.town : '';
						continueURLAction = "lookup";		
					}
					$detailIcon.attr('src','/img/icon/leads32.png');
					//$tableSection.hide();
					$detailTitle.text(' You selected an Existing Lead');
					$mgrLabel.hide();
					$ownerLabel.text( 'Lead Owner' );
					$detailLeadCompany.show();
					$selCmpName.text( ( typeof content.company !== 'undefined' ) ? content.company : 'No company information' );
					$selAccMgr.hide();
					$daysSinceLastCC.text( ( typeof content.daysSinceCC !== 'undefined' ) ? content.daysSinceCC+' days' : 'Information not Available' );
					$dunsNumber.text( ( typeof content.duns !== 'undefined' ) ? content.duns : 'DUNS not Available' );
					$daysSinceLastCCGRP.show();
					$selAccOwnr.text( content.ownrName );
					$detailOption2.attr( 'sfLeadId', content.id );
					$detailWarn.html( 'This Lead is already present in Salesforce.<br/>What would you like to do?' );
					$detailOption1.hide();
					$detailOption4.hide();
					$detailOption2.show();
				}
				//direction: 'right'
				$searchForm.fadeTo( 'fast', 0.5 );
				$detailView.show( 'slide', {direction: 'right'}, 200, function callback() {} );
			}
 			
 			$detailOption3.on( 'click', function() {
				resetStage();
			});
 			
 			function resetStage(){
 				$searchForm.fadeTo( 'fast', 1 );
 				resetForm();
 				$('#modalSearch').remove();
				$detailView.fadeOut();
 			}
 			
			function redrawLeadTable(content){
				if( $tableSection.is(":visible") ) {
					$tableSection.hide();
				}
				$tableBody.empty();
				$tableBody
					.append( '<tr><td><a href="/'+content.id+'">view</a></td><td>'+content.label+'</td><td>'+content.desc+'</td></tr>' );
				$tableSection.show();
			}
			
		    $businessName.autocomplete({
				source: function( request, response ) {
		        	ACPController.searchAccountsAndLeads(request,function(data,event){
			        	//console.log(data);
						response( data );
					});
				},
				focus: function( event, ui ) {
					return false;
				},
				select: function( event, ui ) {
					$businessName.val( ui.item.company );
					redrawDetailView(ui.item);
					return false;
				}
		    })
		    .autocomplete( "instance" )._renderItem = function( ul, item ) {
		    	var address = ( typeof item.desc !== 'undefined' ) ? item.desc : 'No address information';
		    	if(item.type == 'account'){
		    		return $( "<li>" )
				        .append( '<a><img id="project-icon" src="/img/icon/accounts16.png" />'+'&nbsp;&nbsp;<b><h1>'+item.label + '</h1></b><br/>' + address + '</a>' )
				        .appendTo( ul );
		    	}
		    	if(item.type == 'lead'){
		    		return $( "<li>" )
				        .append( '<a><img id="project-icon" src="/img/icon/leads16.png" />'+'&nbsp;&nbsp;<b><h1>'+ item.company +', '+ item.label + '</h1></b><br/>' + address + '</a>' )
				        .appendTo( ul );
		    	}
		    };
		});
		function resetForm(){
			$businessName.val('');
	    	$postCode.val('');
	    	$townName.val('');
		}
		function redirectWithLead(name,postCode,town,leadId){
			var redirectUrl = '';

	        if(name == ''){
	            alert("Please Enter Account Name to Search");
	            return false;
	        }
	        
	        redirectUrl += "/apex/DAndBSearch?businessName=" + encodeURIComponent(name);
	        redirectUrl += "&postCode=" + encodeURIComponent(postCode);
	        redirectUrl += "&town=" + encodeURIComponent(town);
	        redirectUrl += "&leadId=" + encodeURIComponent(leadId);
	        window.top.location.href = redirectUrl;
		}
		function redirect(name,postCode,town){
	        var redirectUrl = '';

	        if(name == ''){
	            alert("Please Enter Account Name to Search");
	            return false;
	        }
	        
	        redirectUrl += "/apex/DAndBSearch?businessName=" + encodeURIComponent(name);
	        redirectUrl += "&postCode=" + encodeURIComponent(postCode);
	        redirectUrl += "&town=" + encodeURIComponent(town);
	        window.top.location.href = redirectUrl;
	    }
	</script>
</apex:component>